/.TraceConstructor.java._trace
/.petrinetsmain.java._trace
/TraceConstructor.java
/.test.java._trace
/.CompactTraceConstructor.java._trace
/.StepOperations.java._trace
/petrinetsmain.java
/CompactTraceConstructor.java
/.CompactTraceConstructor.xtendbin
/.TraceConstructor.xtendbin
/.petrinetsmain.xtendbin
/.TraceConstructorGeneric.java._trace
/.TraceConstructorGeneric.xtendbin
/TraceConstructorGeneric.java
/.GenericTraceConstructor.java._trace
