<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/petrinetcomplex.semantics.nogemoc/xtend-gen/petrinetcomplexsemantic/petrinet/aspects/genericMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="petrinetcomplexsemantic.petrinet.aspects.genericMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="petrinetcomplex.semantics.nogemoc"/>
</launchConfiguration>
